WATSONX_API_KEY=
WATSONX_URL=
WATSONX_PROJECT_ID=
WATSONX_SPACE_ID=

GOOGLE_API_KEY=

QUADRANT_API_KEY=
QUADRANT_COLLECTION_NAME=
QUADRANT_URL=

MILVUS_URI=
MILVUS_TOKEN=

# all list elements must be in one line
API_KEYS= []
OPENAI_API_KEY=